#login_root {
    -fx-background-image: url("../imgs/homepageBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#form{
    -fx-max-height: 200px;
    -fx-max-width: 300px;
}

#logo{
    -fx-background-image: url("../imgs/logo.png");
    -fx-min-width: 50px;
    -fx-max-width: 125px;
    -fx-max-height: 65px;
    -fx-min-height: 65px;
}

#login_form {
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-max-width: 300px;
    -fx-max-height: 200px;
    -fx-padding: 40px;
}

#btnLogin{
    -fx-min-width: 350px;
    -fx-background-color: rgb(88, 185, 157);
}